@{
    ViewData["Title"] = "Lista książek";
}

<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Tytuł</th>
        <th scope="col">Autor</th>
        <th scope="col">Liczba stron</th>
        <th scope="col">Czy wypożyczona</th>
        <th scope="col">Imię wypożyczającego</th>
        <th scope="col">Nazwisko wypożyczającego</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Tytuł</td>
        <td>Autor</td>
        <td>Liczba stron</td>
        <td>Czy wypożyczona</td>
        <td>Imię wypożyczającego</td>
        <td>Nazwisko wypożyczającego</td>
      </tr>

    </tbody>
  </table>
</div>
